{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">

            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Subtype</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Info</th>
                    <th scope="col">Damage</th>
                    <th scope="col">Damage Type</th>
                    <th scope="col">Armor Class</th>
                </tr>
                </thead>
                <tbody>
                    {% for equipment in equipmentList %}
                        {% if equipment.type.name == 'Armor' %}
                            <tr>
                                <th colspan="9">{{ equipment.type.name }}</th>
                            </tr>
                            {% include 'dnd_equipment/_table.twig' %}
                        {% endif %}


                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
