{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-6">

            <h5>{{ money.toPpGpSpCpString }}</h5>
            <h5>{{ money.toGpSpCpString }}</h5>

        </div>
        <div class="col-6">

            <a href='#'><i class='fa fa-cube fa-3x'></i></a> <a href='#'><i class='fa fa-cubes'></i></a> <a href='#'><i class='fa fa-dice'></i></a>
            <a href='#'><i class='fa fa-dice-one'></i></a> <a href='#'><i class='fa fa-dice-two'></i></a> <a href='#'><i class='fa fa-dice-three'></i></a> <a href='#'><i class='fa fa-dice-four fa-3x'></i></a> <a href='#'><i class='fa fa-dice-five'></i></a> <a href='#'><i class='fa fa-dice-six'></i></a>
            <a href='#'><i class='fa fa-dice-d6'></i></a> <a href='#'><i class='fa fa-dice-d20'></i></a>
            <a href='#'><i class="fas fa-dungeon"></i></a> <a href='#'><i class='fas fa-dragon'></i></a>
            <a href='#'><i class='fab fa-d-and-d'></i></a> <a href='#'><i class='fa fa-cogs fa-2x'></i></a>
            <a href='#'><i class='fa fa-bars'></i></a>
            <a href='#'><i class='fa fa-times'></i></a>

        </div>
    </div>

{% endblock %}
