// customize some Bootstrap variables here

/* Order of the next three lines is important! */
@import "~bootswatch/dist/spacelab/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~jquery.mmenu/dist/jquery.mmenu.all.css";

/* CUSTOM SCSS */

@import "mmenu";
@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');

/* Full screen modal */

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/* Full screen loading */

#loading
{
  display: none;
}

#loading.show
{
  display: block;
  position: fixed;
  z-index: 100;
  background-image: url('../images/loading.gif');
  background-color: #666;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
