/* CUSTOM BOOTSTRAP VARIABLES */

// customize Bootstrap variables here

/* CSS LIBRARIES */

/* Order of the next three lines is important! */
@import "~bootswatch/dist/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/yeti/bootswatch";

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~jquery.mmenu/dist/jquery.mmenu.all.css";
@import "~jquery.mmenu/dist/wrappers/bootstrap/jquery.mmenu.bootstrap4.css";

/* CUSTOM SCSS */

@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');

/* Full screen modal */

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/* Bootstrap popover */

.popover {
  max-width: 300px;
}
.popover-body {
  padding: 0.2rem;
}
.image-popover {
  cursor: pointer;
  color: #0c73cd;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #0c73cd;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}






/* Login / Register
-------------------------------------------------- */
