{% extends 'layout/base.html.twig' %}

{% block title %}Create D&D character{% endblock %}

{% block body %}
    <h1>Create D&D character</h1>

    {{ include('dnd_character/_form.html.twig') }}

    <a href="{{ path('dnd_character_index') }}">back to list</a>
{% endblock %}
