<p>Hi {{ name }}!</p>

<p>Somebody (hopefully you) requested a new password for your account. No changes have been made to your account yet.</p>

<p>You can reset your password by clicking link below:</p>

<p>
    <a href="{{ path('app_reset_password', {'token': token}) }}">
        {{ absolute_url(path('app_reset_password', {'token': token})) }}
    </a>
</p>

<p>Have a good day!</p>

<p>Yours,</p>

<p>RPG-helper team</p>