<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

        <div id="page">

            <div class="mh-head">
                <span class="mh-btns-right">
                    <a href="#menu"><i class="fas fa-bars"></i></a>
                    <a href="#page"><i class="fas fa-times"></i></a>
                </span>
                <span class="mh-text">RPG helper</span>
            </div>

            <div class="container-fluid mt-3">
                {% block body %}{% endblock %}
            </div>

        </div>

        <div id="loading"></div>

        <nav id="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><span>About us</span>
                    <ul>
                        <li><a href="/about/history/">History</a></li>
                        <li><a href="/about/team/">The team</a></li>
                        <li><span>Very long equipment name</span>
                            <ul>
                                <li><a href="/about/history/">History</a></li>
                                <li><a href="/about/team/">The team</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/about/">About us</a>
                    <ul>
                        <li><a href="/about/history/">History</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>

        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>