<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

        <nav id="my-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About us</a>
                    <ul>
                        <li><a href="/about/history/">History</a></li>
                        <li><a href="/about/team/">The team</a></li>
                        <li><a href="/about/address/">Our address</a></li>
                    </ul>
                </li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>

        <div id="page" class="container-fluid mt-3">
            {% block body %}{% endblock %}

            <a href="#my-menu" class="hamburger hamburger--collapse">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </a>

        </div>

        <div id="loading"></div>

        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>